
.container {
    max-width: 75vw;
    margin: 15rem auto;
    box-shadow: var(--shadow-dark);
    min-height: 68vh;
    background-image: linear-gradient(to right bottom, #d0ecda, #0a6653);
    padding: 20px;
    border-radius: 5px;

    &_span {
        font-family: monospace;
    }

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 80%;
        margin: 15rem auto;
        width: 100%;
    }
    &__link {
        text-decoration: none;
        font-family: fantasy;
    }
    &__button {
        color: #0c0101;
        font-size: 3rem;
        padding: 10px;
        box-shadow: 0 0rem 1rem #7b6d6d;
        border-radius: 5px;
        background-image: linear-gradient(to right bottom, #aee2db36, #0e624f6b);
    }
    p {
        font-size: 2em;
        font-family: monospace;
        margin-top: 20px;
        text-align: justify;
        padding: 15px;
    }
}

h1 {
    font-size: 4em;
    font-family: fantasy;
    color: darkslategray;
}



.header {
    width: 100vw;
    min-height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #5584a9, #e2b96ee0);
    z-index: 9;
    box-shadow: 0 0.5rem 6rem #b5a4a4;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &__logo {
        background-image: url(../assets/logo-white.png);
        height: 5rem;
        width: 6rem;
        background-repeat: no-repeat;
        background-size: contain;

        &--text {
            position: absolute;
            left: 100%;
            font-size: 1.2rem;
            font-family: monospace;
            color: #e0c99d;
        }
    }
}

.modal {

    &_overlay {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }
    &_container {
        position: fixed;
        width: 80vw;
        height: 60vw;
        z-index: 99;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &_content {
        width: 100%;
        height: 100%;
        background-color: #eaeaf7;
        display: flex;
        padding: 20px;
        flex-direction: column;
        background-image: linear-gradient(45deg, #db3f3f, #d7821ad1);
        justify-content: center;
        span {
            font-size: 8rem;
            color: #e20d0d;

            @media only screen and (max-width: $bp-medium) {
                font-size: 6rem;           
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 3rem;           
            }
        }
        button {
            width: 10rem;
            height: 4rem;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .06);
            background-color: #dc6b6b9c;
            border-radius: 5px;
            border: 1px solid #be5050;
            align-self: center;
            z-index: 9;
            @media only screen and (max-width: $bp-medium) {
                font-size: 1.8rem;           
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 1.5rem;           
            }
        }
    }
}
